<div class="pc-footer">
  <div class="footer-wrapper container-fuild">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          Reconocimiento Automático de Placas Vehículares - ANPR VISION
          <!-- <a href="https://codedthemes.com/" target="_blank">CodedThemes</a> -->
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item">
            <a href="https://anpr-vision.com" target="_blank">Inicio</a>
          </li>
          <li class="list-inline-item">
            <a href="https://anpr-vision.gitbook.io/gradient-able-angular" target="_blank">Documentación</a>
          </li>
          <li class="list-inline-item">
            <a href="https://anpr-vision.support-hub.io" target="_blank">Soporte</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
