<div class="pc-footer">
  <div class="footer-wrapper container-fuild">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          Reconocimiento Automático de Placas Vehículares - ANPR VISION
          <!-- <a href="https://codedthemes.com/" target="_blank">CodedThemes</a> -->
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item">
            <a href="https://6908da95978cb100082b47fc--courageous-salamander-30e352.netlify.app/" target="_blank">Pagina de inicio</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
