<div class="lado-derecho">
  <div class="auth-content mini-contener">
    <div class="card Formulario-login">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="../../../../../assets/images/logoSolo.png" alt="logo" class="img-fluid mb-4" width="100" />
            <h4 class="mb-3 f-w-400">Iniciar sesión</h4>

            <div class="input-group mb-3">
              <span class="input-group-text fondo-icono" id="basic-addon1"><i class="feather icon-mail"></i></span>
              <input type="email" class="form-control input-registro"
                     placeholder="Nombre de Usuario"
                     [(ngModel)]="LoginDto.username"
                     name="userName"
                     required />
            </div>

            <div class="input-group mb-4">
              <span class="input-group-text fondo-icono" id="basic-addon3"><i class="feather icon-lock"></i></span>
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control input-registro"
                placeholder="Contraseña"
                [(ngModel)]="LoginDto.password"
                name="password"
                required />
              <button
                type="button"
                class="btn btn-outline-secondary ojito"
                (click)="showPassword = !showPassword">
                <i class="feather" [ngClass]="showPassword ? 'icon-eye' : 'icon-eye-off'"></i>
              </button>

            </div>

            <div class="d-grid bttn-inicio-sesion">
              <button class="btn btn-block btn-primary mb-4" (click)="login()">Iniciar sesión</button>
            </div>

           
            <p class="mb-2 text-muted color-p">
              ¿Olvidaste tu contraseña?
              <button type="button"
                      class="btn btn-primary btn-sm f-w-400 olvidasteContraseña"
                      (click)="restablecerContrasena()">
                Restablecer
              </button>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="loading-overlay" *ngIf="loading">
  <div class="spinner-overlay">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="60"
      strokeWidth="4"
      color="accent">
    </mat-progress-spinner>
    <p>Cargando...</p>
  </div>
</div> -->

