<h2 *ngIf="title" class="form-title">
  {{ title }}
</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of config">

    <ng-container [ngSwitch]="field.type">

      <!-- Text -->
      <mat-form-field *ngSwitchCase="'text'" appearance="outline" style="width:100%;">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput type="text" [formControlName]="field.name" [required]="!!field.required" />
        <mat-error *ngFor="let v of field.validations" class="error-message">
          <span *ngIf="form.get(field.name)?.hasError(v.validator)">{{ v.message }}</span>
        </mat-error>
      </mat-form-field>

      <!-- Tel -->
      <mat-form-field *ngSwitchCase="'tel'" appearance="outline" style="width:100%;">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput type="tel" [formControlName]="field.name" [required]="!!field.required" />
        <mat-error *ngFor="let v of field.validations" class="error-message">
          <span *ngIf="form.get(field.name)?.hasError(v.validator)">{{ v.message }}</span>
        </mat-error>
      </mat-form-field>

      <!-- Number -->
      <mat-form-field *ngSwitchCase="'number'" appearance="outline" style="width:100%;">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput type="number" [formControlName]="field.name" [required]="!!field.required" />
        <mat-error *ngFor="let v of field.validations" class="error-message">
          <span *ngIf="form.get(field.name)?.hasError(v.validator)">{{ v.message }}</span>
        </mat-error>
      </mat-form-field>

      <!-- Textarea -->
      <mat-form-field *ngSwitchCase="'textarea'" appearance="outline" style="width:100%;">
        <mat-label>{{ field.label }}</mat-label>
        <textarea matInput rows="4" [formControlName]="field.name" [required]="!!field.required"></textarea>
        <mat-error *ngFor="let v of field.validations" class="error-message">
          <span *ngIf="form.get(field.name)?.hasError(v.validator)">{{ v.message }}</span>
        </mat-error>
      </mat-form-field>

      <!-- Select -->
      <mat-form-field *ngSwitchCase="'select'" appearance="outline" style="width:100%;">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select
          [formControlName]="field.name"
          [required]="!!field.required"
          [multiple]="!!field.multiple"
          [compareWith]="compareByValue">
          <mat-option *ngFor="let opt of field.options" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let v of field.validations" class="error-message">
          <span *ngIf="form.get(field.name)?.hasError(v.validator)">{{ v.message }}</span>
        </mat-error>
      </mat-form-field>

      <!-- Date (Material Datepicker con calendario) -->
      <!-- Date (Material Datepicker con calendario) -->
<mat-form-field *ngSwitchCase="'date'" appearance="outline" style="width:100%;">
  <mat-label>{{ field.label }}</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [formControlName]="field.name"
    [required]="!!field.required"
    [min]="getDateBoundary(field,'MinDate')"
    [max]="getDateBoundary(field,'MaxDate')" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker startView="month"></mat-datepicker>

  <mat-error *ngFor="let v of field.validations" class="error-message">
    <span *ngIf="form.get(field.name)?.hasError(v.validator)">{{ v.message }}</span>
  </mat-error>
</mat-form-field>


      <!-- Time (nativo) -->
      <mat-form-field *ngSwitchCase="'time'" appearance="outline" style="width:100%;">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          type="time"
          [step]="60"
          [formControlName]="field.name"
          [required]="!!field.required"
          [min]="getTimeBoundary(field,'MinTime')"
          [max]="getTimeBoundary(field,'MaxTime')" />
        <mat-error *ngFor="let v of field.validations" class="error-message">
          <span *ngIf="form.get(field.name)?.hasError(v.validator)">{{ v.message }}</span>
        </mat-error>
      </mat-form-field>

      <!-- Toggle -->
      <ng-container *ngSwitchCase="'toggle'">
        <mat-slide-toggle
          *ngIf="!field.hidden"
          [formControlName]="field.name"
          color="primary">
          {{ field.label }}
        </mat-slide-toggle>
      </ng-container>

    </ng-container>

  </ng-container>

  <div style="margin-top:1rem;">
    <button mat-raised-button color="primary" type="submit">
      {{ isEdit ? 'Actualizar' : 'Crear' }}
    </button>
    <button mat-button type="button" (click)="cancelForm.emit()">Cancelar</button>
  </div>
</form>
