<h2 *ngIf="title" class="form-title">
  {{ title }}
</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of config">
    <ng-container [ngSwitch]="field.type">

      <!-- TEXT -->
      <mat-form-field *ngSwitchCase="'text'" appearance="fill" class="dark-field">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput type="text" [formControlName]="field.name" />
        <mat-error *ngFor="let v of field.validations">
          <span *ngIf="form.get(field.name)?.hasError(v.validator)">
            {{ v.message }}
          </span>
        </mat-error>
      </mat-form-field>

      <!-- TEL -->
      <mat-form-field *ngSwitchCase="'tel'" appearance="fill" class="dark-field">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput type="tel" [formControlName]="field.name" />
        <mat-error *ngFor="let v of field.validations">
          <span *ngIf="form.get(field.name)?.hasError(v.validator)">
            {{ v.message }}
          </span>
        </mat-error>
      </mat-form-field>

      <!-- NUMBER -->
      <mat-form-field *ngSwitchCase="'number'" appearance="fill" class="dark-field">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput type="number" [formControlName]="field.name" />
      </mat-form-field>

      <!-- TEXTAREA -->
      <mat-form-field *ngSwitchCase="'textarea'" appearance="fill" class="dark-field">
        <mat-label>{{ field.label }}</mat-label>
        <textarea matInput rows="4" [formControlName]="field.name"></textarea>
      </mat-form-field>

      <!-- SELECT -->
      <mat-form-field *ngSwitchCase="'select'" appearance="fill" class="dark-field">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.name">
          <mat-option *ngFor="let opt of field.options" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- DATE -->
      <mat-form-field *ngSwitchCase="'date'" appearance="fill" class="dark-field">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [matDatepicker]="picker" [formControlName]="field.name" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- TIME -->
      <mat-form-field *ngSwitchCase="'time'" appearance="fill" class="dark-field">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput type="time" [formControlName]="field.name" />
      </mat-form-field>

      <!-- TOGGLE -->
      <!-- TOGGLE -->
    <ng-container *ngSwitchCase="'toggle'">
      <mat-slide-toggle
        *ngIf="!field.hidden"
        [formControlName]="field.name"
        color="primary"
        class="dark-toggle">
        {{ field.label }}
      </mat-slide-toggle>
    </ng-container>


    </ng-container>
  </ng-container>

  <!-- Botones -->
  <div class="actions">
    <button mat-raised-button color="primary" type="submit">
      {{ isEdit ? 'Actualizar' : 'Crear' }}
    </button>

    <button mat-button type="button" (click)="cancelForm.emit()">Cancelar</button>
  </div>
</form>
