<div class="vehicle-form">
  <h2>{{ isEdit ? 'Editar Vehículo' : 'Registrar Vehículo' }}</h2>

  <form [formGroup]="form" (ngSubmit)="save()">
    <!-- Placa -->
    <mat-form-field appearance="outline" class="full-width">
  <mat-label>Placa</mat-label>
  <input
    matInput
    formControlName="plate"
    required
    maxlength="6"
    placeholder="Ej: ABC123 o ABC12D"
    (input)="form.get('plate')?.setValue(form.get('plate')?.value?.toUpperCase())"
  />

  <mat-error *ngIf="form.get('plate')?.hasError('required')">
    La placa es obligatoria
  </mat-error>

  <mat-error *ngIf="form.get('plate')?.hasError('pattern') && !form.get('plate')?.hasError('required')">
    Formato inválido. Usa el formato ABC123 o ABC12D.
  </mat-error>
</mat-form-field>


    <!-- Color -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Color</mat-label>
      <input matInput formControlName="color" required>
      <mat-error *ngIf="form.get('color')?.hasError('required')">
        El color es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Tipo de Vehículo -->
    <!-- <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo de Vehículo</mat-label>
      <mat-select formControlName="typeVehicleId" required>
        <mat-option *ngFor="let t of typeVehicles" [value]="t.value">{{ t.label }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('typeVehicleId')?.hasError('required')">
        El tipo de vehículo es obligatorio
      </mat-error>
    </mat-form-field> -->

    <!-- Tipo de Vehículo -->
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Tipo de Vehículo</mat-label>
  <input
    type="text"
    matInput
    [matAutocomplete]="autoType"
    formControlName="typeVehicleId"
    required
  />

  <mat-autocomplete #autoType="matAutocomplete" [displayWith]="displayTypeVehicle">
    <mat-option *ngFor="let t of filteredTypeVehicles | async" [value]="t">
      {{ t.label }}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="form.get('typeVehicleId')?.hasError('required')">
    El tipo de vehículo es obligatorio
  </mat-error>
</mat-form-field>



    <!-- Cliente -->
<div class="client-section">
  <mat-form-field appearance="outline" class="flex-grow">
    <mat-label>Dueño del Vehículo</mat-label>
    <input
      type="text"
      matInput
      [matAutocomplete]="autoClient"
      formControlName="clientId"
      required
    />

    <mat-autocomplete #autoClient="matAutocomplete" [displayWith]="displayClient">
      <mat-option *ngFor="let c of filteredClients | async" [value]="c">
        {{ c.label }}
      </mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="form.get('clientId')?.hasError('required')">
      El cliente es obligatorio
    </mat-error>
  </mat-form-field>

  <!-- Botón nuevo cliente -->
  <button mat-stroked-button color="primary" type="button" (click)="openClientTempModal()">
    [+] Nuevo Cliente
  </button>
</div>


    <!-- Botones -->
    <div class="actions">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid">
        {{ isEdit ? 'Actualizar' : 'Guardar' }}
      </button>
      <button mat-button type="button" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>
